{% extends 'base.html.twig' %}

{% block title %}Modier mon profil{% endblock %}

{% block body %}
    <div class="form-site">
    <h1>Modier mon profil</h1>

    {{ include('profile/_form.html.twig', {'button_label': 'sauvegarder'}) }}

    <a class="btn btn-brown" href="{{ path('profile_show') }}">Retour</a>

    {{ include('profile/_delete_form.html.twig') }}
    </div>

{% endblock %}
