<form method="post" action="{{ path('profile_cat_delete', {'id': cat.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet objet ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cat.id) }}">
	<button class="btn btn-color mt-3">Supprimer</button>
</form>
