{% extends 'base.html.twig' %}

{% block title %}Modifier mon chat
{% endblock %}

{% block body %}


	<div class="form-site">
		<h1>Modifier mon chat</h1>

		{{ include('profile_cat/_form.html.twig', {'button_label': 'Mettre à jour'}) }}


	<a href="{{ path('profile_cat_show', {'id': cat.id}) }}">Retour au profile</a>
	</div>


	{{ include('profile_cat/_delete_form.html.twig') }}
{% endblock %}
