{% extends 'base.html.twig' %}

{% block title %}Modifier Chat{% endblock %}

{% block body %}
    <div class="form-site">
        <h1>Modifier Chat</h1>

        {{ include('admin_cat/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a class="btn btn-color m-3" href="{{ path('admin_cat_index') }}">Retour</a>

        {{ include('admin_cat/_delete_form.html.twig') }}
    </div>
{% endblock %}
