{% extends 'base.html.twig' %}

{% block title %}New Cat{% endblock %}

{% block body %}
    <div class="form-site">
        <h1>Ajouter un chat</h1>

        {{ include('admin_cat/_form.html.twig') }}

        <a class="btn btn-color m-3" href="{{ path('admin_cat_index') }}">Retour</a>
    </div>
{% endblock %}
