{% extends 'base.html.twig' %}

{% block title %}Modifier document{% endblock %}

{% block body %}
    <div class="form-site">
        <h1>Modifier document</h1>

        {{ include('admin_document/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a class="btn btn-color m-3" href="{{ path('admin_document_index') }}">Retour</a>

        {{ include('admin_document/_delete_form.html.twig') }}
    </div>
{% endblock %}
