{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<div class="form-site">
		<h1>Contact</h1>

		{{ include('message/_form.html.twig') }}
	</div>
{% endblock %}
