* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0c3730;

  --secondary-color: #ffbd59;

  --tertiary-color: #a88a64;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  background-color: #0c3730;
  color: #ffbd59;
  /* background-color: #39554d; */
  /* background-color: #222222; */
  font-family: "Nunito", sans-serif;
}

a,
a:hover {
  color: #ffc961;
}

.carousel-shadow {
  /* background-color: #222; */
  background-color: #0c3730;
  box-shadow: 0 4px 5px #39554d inset;
}

.cats-container {
  display: flex;
  justify-content: space-around;
  align-items: normal;
  flex-wrap: wrap;
}
.list-cat li {
  list-style: none;
}

.table {
  color: #000000;
  /* color: #ffbd59; */
  /* background-color: #034238; */
  background-color: #a88a64;
  /* background-color: #6d5445; */
}
/* .table  tr:nth-child(odd) {
  background-color: #4e4743;
} */

.table td,
.table th {
  border-top: 1px solid #ffbd5959;
}
.table-size{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 5em auto;
}

#carouselExampleIndicators,
#carouselExampleIndicators img {
  max-width: 450px;
}

#carouselExampleIndicators {
  margin: auto;
  padding-bottom: 20px;
}

.banner-container {
  /* background-image: url(/./Photos_site/odin.jpg);
  background-size: cover;
  background-position-y: bottom;
  height: 300px; */
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  flex-direction: column;
}
.logo {
  height: auto;
  width: 200px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.company-slogan {
  font-family: "Newsreader", serif;
  font-size: 1.5em;
}
.nav-tabs {
  background-color: #ffffff;
}

.navbar-color {
  background-color: var(--secondary-color);
}

.card_presentation {
  justify-content: center;
  align-items: center;
  padding: 1.5em;
 
}
.body-color{
  background-color:#a88a64;
}

.card-text-home {
  text-align: justify;
  color: #ffffff;
}
.card-deck {
  margin: 100px;
}
.card-header {
  background-color: transparent;
  color: white;
  border-bottom: 4px solid var(--secondary-color);
}

.form-site form {
  width: 100%;
  padding: 1em;
}
.form-site {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--secondary-color);
  max-width: 600px;
  margin: 5em auto;
}

input::selection {
  color: #ffffff;
  background: #ffbd59;
}

#contact {
  width: 35em;
  color: var(--secondary-color);
}

.card {
  margin: 2em;
  color: black;
}

a.black-link,
a.black-link:link,
a.black-link:hover ,
.card a,
.card a:link,
.card a:hover {
  color: black;
}

.connected-user {
  color: white;
  position: absolute;
  top: 1em;
  right: 1em;
}

.btn-color {
  background-color: var(--secondary-color);
}

.btn-center {
  display: block;
  margin: auto;
  width: fit-content;
}

.btn-color:hover {
  opacity: 0.9;
}

.form-site *:focus {
  border-color: #ffc961;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(255 201 97 / 25%);
}

.nav-link {
  color: #303030;
}

.nav-link:hover {
  color: #303030;
}

.form-site > * {
  margin: 0.2em 0em;
}

.image-position {
  margin-right: 5em;
  /* padding-top: 10em;
  padding-left: 10em;
  padding-bottom: 10em; */
  max-height: 500px;
  width: auto;
}
.about {
  color: black;
  margin-left: 5em;
  margin-top: 12em;
  height: min-content;
  /* margin-left: 35em; */
}
#pills-connection {
  color: var(--secondary-color);
  width: 35em;
}

#pills-registration {
  color: var(--secondary-color);
  width: 35em;
}

#connection *:focus {
  border-color: var(--secondary-color);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(255 201 97 / 25%);
}

#registration *:focus {
  border-color: var(--secondary-color);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(255 201 97 / 25%);
}
#my-profile {
  color: var(--secondary-color);
  width: 35em;
}
ul.no-puce {
  list-style: none;
  padding-left: unset;
}
.profile-form fieldset {
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  padding: 1em;
}
form.profile-form .btn-grp .icon-btn {
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2px;
}
form.profile-form .btn-grp .icon-btn span.material-icons {
  font-size: 20px;
}

form.profile-form {
  position: relative;
}

form.profile-form .btn-grp {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
}

.sub-menu a:link {
  color: #ffffff;
  background-color: #303030;
}
.sub-menu {
  display: flex;
  justify-content: center;
}
.picture-site {
  max-width: 130px;
}

.catPictureMiniature {
  max-width: 8em;
}
.catPictureDetails {
  max-width: 20em;
}

.legend {
  color: white;
}

.color-title {
  color: #ffbd59;
}

.sentence-color {
  color: #a88a64;
  font-size: x-large;
}

.no-cats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.no-cats-img {
  border-radius: 50%;
  box-shadow: 0 0 48px var(--tertiary-color);
  max-width: 25em;
  margin: 3em;
}


.btn-brown:hover {
  opacity: 0.9;
}

.btn-brown {
  background-color:#a88a64 ;
}

.btn-brown:focus {
  border-color: #a88a64;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #a88a6440;
}
