{% extends 'base.html.twig' %}

{% block title %}Nouveau Message
{% endblock %}

{% block body %}
	<div class="form-site">
		<h1>Nouveau Message</h1>

		{{ include('message/_form.html.twig') }}
	</div>
	<a href="{{ path('recieve_index') }}">Voir les messages reçus</a>
	<a href="{{ path('sent_index') }}">Voir les messages envoyés</a>
{% endblock %}
